.card:hover {
  border: 1px solid #777;
}

.test {
  display: flex;
  flex-direction: row;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:flex-start;
}

.programview .btn {
  width: 200px;
}